:root {
  --c-fg: #000;
  --c-bg: #fff;
  --c-1: #e70112;
  --c-2: #cd0010;
  --c-3: #ce0010;
  --c-4: #302f2f;
  --c-5: #2a2929;
  --c-6: #ffdf02;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  line-height: 1.5;
  background-color: var(--c-2);
}

img {
  width: 100%;
  height: auto;
}

header {
  height: 75px;
  background-color: var(--c-1);
}

nav {
  height: inherit;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  gap: 28px;
}

nav button {
  font-size: 1.2rem;
  color: var(--c-6);
  background-color: var(--c-1);
  border: 2px solid var(--c-6);
  border-radius: 10px;
  padding: 10px 18px;
}

nav button:hover {
  background-color: var(--c-2);
}

nav button:active {
  color: var(--c-fg);
  background-color: var(--c-6);
}

.content {
  font-size: 1.2rem;
  position: relative;
  color: var(--c-fg);
  background-color: var(--c-bg);
  border-radius: 3px;
  max-width: 80vw;
  margin: 40px auto;
  padding: 23px 33px;
}

.content::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -8px;
  border-radius: inherit;
  background: repeating-linear-gradient(
    135deg,
    var(--c-4) 0 5px,
    var(--c-5) 5px 10px
  );
}

.content p {
  max-inline-size: 80ch;
}

.content h1 {
  margin: 48px 0;
}

.content h2 {
  margin: 30px 0;
}

.content blockquote {
  margin: 40px 0;
}

.content ul {
  padding: 0;
}

.content li::marker {
  content: "★";
  color: var(--c-6);
  font-size: 2rem;
}

.content li {
  margin: 0 30px;
}
